<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <AppSettings>
        <add key="Serialize path" value="C:\\Users\\PashkaPustik\\Desktop\\TRPZ_Baguette\\Baguette_Workshop\\Shop.json"/>
    </AppSettings>
</configuration>